node_modules/
.env
.env_backup
.env deepseek
.env openrouter
.env claude-opus-5
.env claude-opus-5 copy
.env deepseek openAI
.env deepseek old
.env deepseek openAI copy
*.log
deploy.zip
pack.ps1
.deploy-state.json
